
<div *ngIf="this.service.isLoggedIn()" class="navbar" id="myNavbar">
    <a routerLink="list" class="active">Listázás</a>
    <a routerLink="create">Létrehozás</a>
    <a routerLink="dashboard">Saját hirdetések</a>
    <a (click)="this.service.logout()" >Kilépés</a>
</div>
<div *ngIf="!this.service.isLoggedIn()" class="navbar" id="myNavbar">
    <a routerLink="list" class="active">Listázás</a>
    <a routerLink="login">Belépés</a>
    <a routerLink="register" class="active">Regisztráció</a>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
