<div class="container">
  <h1>Utazások</h1>
<table class="table table-striped">
      <tr>
        <th scope="col">Uticél</th>
        <th scope="col">Ár: (Ft)</th>
        <th scope="col">Dátum</th>
        <th scope="col">Feladó</th>
      </tr>
      <tr *ngFor="let x of this.service.travels">
        <td>{{x.destination}}</td>
        <td>{{x.price}}</td>
        <td>{{x.date}}</td>
        <td>
          {{x.owner?.firstName}} {{x.owner?.lastName}}
          {{x.owner?.email}}
        </td>
      </tr>
  </table>
</div>